.item {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 10px 5px;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 414px) {
  .item {
    width: 90%;
    padding: 5px 5%;
  }
  .item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.item:hover {
  box-shadow: 3px 3px 5px 7px var(--box-shadow-hover);
  cursor: pointer;
  padding: 2px 2px 7px 2px;
}

.item h5 {
  margin-top: 5px;
  text-decoration: underline;
}

.item label {
  margin-bottom: 3px;
  font-weight: bold;
}
.item h6 {
  font-weight: bold;
}
.item .item-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 38px 0 38px;
}
